.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 60px;
  background: #2596D9;
  border-radius: 40px;
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  transition: all .12s linear;
}

.play-button:not(:disabled):hover {
  background: #2281BA;
}

.play-button:disabled {
  opacity: 0.5;
  cursor: default;
}
